API_KEY=oddix_voice_key
PORT=5050

DEFAULT_VOICE=pt-BR-AntonioNeural
DEFAULT_RESPONSE_FORMAT=mp3
DEFAULT_SPEED=1.08
DEFAULT_LANGUAGE=pt-BR

REQUIRE_API_KEY=True
REMOVE_FILTER=False
EXPAND_API=True
DETAILED_ERROR_LOGGING=True

API_KEY=oddix
PORT=5050
REQUIRE_API_KEY=False
DEFAULT_VOICE=pt-BR-AntonioNeural
